{
"web_server_ip":"192.168.0.11",
"web_server_port":"8280",
"iccardreader_port":"39192",
"URL_printSaveState":"/000000/printInspect/printInspect/printInspectStart/printSaveState",
"URL_stateChange":"/000000/printInspect/printInspect/jobStateChange/stateChange",
"URL_getPrint":" /000000/printInspect/printInspect/getPrintJobid/getPrint",
"ID_Card_Num":"110106196301023449",
"CASIC_CUPS_Log_Path":"/opt/casic208/cups",
"SavePreViewFile":"Enable",
"EPStoPDF":"Disable"
}
